:root{
--p:#1a73e8;/*голубой*/
--t:#0000;/*прозрачный*/
}
body *,html{
font:1rem Verdana,sans-serif;
box-sizing:border-box;
}
@media(max-width:420px) {/*если ширина экрана меньше 420 пикселей*/
textarea{/*текстовое поле*/
max-width:100%;
min-width:100%;
}}
@media(min-width:420px){/*если ширина экрана больше 420 пикселей*/
textarea{
max-width:calc(100%/2);
min-width:400px;
}}
body{/*настройка основного контейнера страницы*/
padding:30px 2px 0 2px;
min-height:calc(100vh - 46px);
display:flex;
flex-direction:column;
align-items:center;
user-select:none;
&:has(k:only-child){padding-top:100px}/*применяется на body при выводе кнопки с ссылкой*/
&:empty{pointer-events:none}/*разделы ниже используются для gloak*/
&:empty::before{
	pointer-events:auto;
	content:"";
	top:0;
	left:0;
	width:50px;
	height:50px;
	position:absolute;
	}
}
/*Модуль вывода сообщений о ошибке*/

alarm{/*контейнер под сообщения*/
position:fixed;
top:10px;
right:10px;
display:flex;
flex-direction:column-reverse;
width:300px;
z-index:9;
&:hover{order:0}/*при выделении элемента курсором, в нём меняется значение переменной, собственно, служит именно для регистрации того, что элемент выделен*/
&:not(:hover){order:1}
&:empty{display:none}/*если сообщений нет, то контейнер для них не показывается*/
&>*{/*сообщение о ошибке(идентификатор для всех типов сообщений)*/
	position:relative;
	margin:0 0 14px;
	padding:14px 24px;
	background:rgb(0 0 0/.74);
	font-size:.875rem;
	color:var(--c);
	line-height:1.25rem;
	opacity:.9;
	transition:opacity 0.4s;
	&:hover{opacity:1}/*если на сообщении курсор, сообщение не прозрачно*/
	}
/*раскрашиваем сообщения в зависимости от их типа*/
&>red{--c:#FF5252}/*красный для сообщений о ошибках*/
&>green{--c:#CCFF90}/*зелёный для сообщений о ошибках*/
&>orange{--c:#ffa700}/*оранжевый для сообщений о ошибках*/
}
x{/*крестик закрытия сообщения об ошибке*/
position:absolute;
top:3px;
right:5px;
width:20px;
height:20px;
text-align: center;
&::after{
	content:"×";
	font-size:1rem;
	font-weight:bold;
}}
/*КОНЕЦ Вывод сообщений о ошибке*/

/*Индикация загрузки*/
.s{/*закрывает блоком всё тело страницы, серым фоном*/
position:fixed;
width:100%;
height:100%;
background:rgb(from #e5e5e5 r g b / .75);/*светло-серый*/
z-index:1;
&::after,&::before{
	content:"";
	top:0;
	height:4px;
	}
&::before{/*полупрозрачный фон линии/индикатора загрузки*/
	position:fixed;
	width:100%;
	background:rgb(from var(--p) r g b /.4);
	}
&::after{/*движущийся элемент загрузки*/
	width:60%;
	background:var(--p);
	position:absolute;
	left:-60%;
	animation:bar 2s ease-in 0.5s infinite;
}}
@keyframes bar{
0%{transform:translateX(0)}
to{transform:translateX(400%)}
}
/*КОНЕЦ, Индикация загрузки*/
k{/*кнопка кодирования/декодирования*/
display:flex;
place-items:center;
position:relative;
min-width:min-content;
height:40px;
margin:8px 6px;
padding:0 24px;
border-radius:20px;
background:var(--p);
color:white;
cursor:pointer;
transition:box-shadow 280ms cubic-bezier(.4,0,.2,1);
&:hover:not(:active){
	box-shadow:0px 3px 1px -2px rgb(0 0 0/.2), 0px 2px 2px 0px rgb(0 0 0/.14), 0px 1px 5px 0px rgb(0 0 0/.12);
	}
&:hover::after{
	opacity:12%;
	}
&::after{
	background:white;
	opacity:0;
	transition:opacity .4s;
	}
&::before{background-size:100%}
&:active::before{
	background:radial-gradient(circle,rgb(from white r g b /.24) 10%,var(--t) 1%)50% no-repeat;
	background-size:1000%;
	transition:background-size 0.15s ease-in;
	}
&::after,&::before{
	position:absolute;
	width:100%;
	height:100%;
	border-radius:20px;
	content:"";
}}
input,textarea{
width:fit-content;
outline:0;
min-height:48px;
margin:8px 0;
border-radius:4px;
caret-color:var(--p);
--h:rgb(0 0 0/.38);
--s:1px;
border:var(--s) solid var(--h);
transition:border-color .4s;
&:hover{
	--h:rgb(0 0 0/.87);
	}
&:focus{
	--h:var(--p);
	--s:2px;
	}
&.e{/*при ошибочном пароле раскрашивает кромку поля ввода пароля в красный цвет*/
	--h:#d32f2f;/*красный*/
}}
input{/*поле для ввода пароля*/
padding:0 16px;
text-align:center;
}
textarea{
--d:14px 16px;
line-height:1.4rem;
padding:var(--d);
resize:none;
field-sizing:content;
&:placeholder-shown{
	align-content:center;
	text-align:center;
	}
&:focus{
	--d:13px 15px;
}}
input,k{padding-bottom:1px}/*приподнимает текст в поле,(выравнивает по середине)*/
