:root{
--p:#1a73e8;/*голубой*/
--P:26,115,232;/*голубой для использования с прозрачностью*/
--B:0,0,0;/*чёрный для использования с прозрачностью*/
--r:#d32f2f;/*красный*/
--t:#0000;/*прозрачный*/
--G:229,229,229;/*светло-серый*/
--W:255,255,255;/*белый*/
--r2:#FF5252;/*красный для сообщений о ошибках*/
--g:#CCFF90;/*зелёный для сообщений о ошибках*/
--o:#ffa700;/*оранжевый для сообщений о ошибках*/
}
body *,body,[r]{
font:1rem Verdana,sans-serif;
box-sizing:border-box;
}
@media (max-width:420px) {/*если ширина экрана меньше 420 пикселей*/
t{/*текстовое поле*/
max-width:100%;
min-width:100%;
}}
@media(min-width:420px){/*если ширина экрана больше 420 пикселей*/
t{
max-width:calc(100%/2);
min-width:400px;
}}
body{/*настройка основного контейнера страницы*/
padding:30px 2px 0 2px;
display:flex;
flex-direction:column;
justify-content:flex-start;	
align-items:center;
user-select:none;
}
/*Модуль вывода сообщений о ошибке*/
alarm:empty{/*если сообщений нет, то контейнер для них не показывается*/
display:none;
}
alarm{/*контейнер под сообщения*/
position:fixed;
top:10px;
right:10px;
display:flex;
flex-direction:column-reverse;
width:300px;
z-index:9;
}
[r]{/*сообщение о ошибке(идентификатор для всех типов сообщений)*/
position:relative;
margin:0 0 14px;
padding:14px 24px;
background:rgba(var(--B),.74);
font-size:.875rem;
line-height:1.25rem;
letter-spacing:.0178571429em;
opacity:.9;
transition:opacity 0.4s;
}
[r]:hover{/*если на сообщении курсор, сообщение не прозрачно*/
opacity:1;
}
alarm:hover{/*при выделении элемента курсором, в нём меняется значение переменной, собственно, служит именно для регистрации того, что элемент выделен*/
order:1;
}
alarm:not(:hover){
order:0;
}
x{/*крестик закрытия сообщения об ошибке*/
position:absolute;
top:3px;
right:5px;
width:20px;
height:20px;
}
x::before{
transform:rotate(45deg);
}
x::after{
transform:rotate(-45deg);
}
x::after,x::before{
height:60%;
width:10%;
position:absolute;
top:20%;
left:45%;
}
red>x::after,red>x::before{background:var(--r2);} /*раскрашиваем сообщения в зависимости от их типа*/
green>x::after,green>x::before{background:var(--g);}
orange>x::after,orange>x::before{background:var(--o);}
red{color:var(--r2);}
green{color:var(--g);}
orange{color:var(--o);}
/*КОНЕЦ Вывод сообщений о ошибке*/

/*Индикация загрузки*/
#s{/*закрывает блоком всё тело страницы, серым фоном*/
position:fixed;
width:100%;
background-color:rgba(var(--G),.75);
z-index:1;
}
#s::before{/*полупрозрачный фон линии/индикатора загрузки*/
width:100%;
background-color:rgba(var(--P),.4);
}
#s::after{/*движущийся элемент загрузки*/
width:60%;
background-color:var(--p);
position:absolute;
left:-60%;
animation:bar 2s ease-in 0.5s infinite;
}
#s::after,#s::before{
position:fixed;
top:0px;
height:4px;
}
@keyframes bar{
0%{transform:translateX(0)}
to{transform:translateX(400%)}
}
/*КОНЕЦ, Индикация загрузки*/



k,t:empty{
display:flex;
align-items:center;
justify-content:center;
}
k{/*кнопка кодирования/декодирования*/
position:relative;
min-width:min-content;
height:40px;
margin:8px 6px;
padding:0 24px;
border-radius:20px;
background-color:var(--p);
color:white;
-webkit-tap-highlight-color:var(--t);
transition:box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
k:hover:not(:active){
box-shadow:0px 3px 1px -2px rgba(var(--B),.2), 0px 2px 2px 0px rgba(var(--B),.14), 0px 1px 5px 0px rgba(var(--B),.12);
}
k:hover::after{
opacity:12%;
}
k::after{
background-color:white;
opacity:0;
transition:opacity .4s;
}
k::before{
background:var(--t) 50%;
background-size:100%;
}
k:active::before{
background:radial-gradient(circle,rgba(var(--W),.24) 10%,var(--t) 1%)50% no-repeat;
background-size:1000%;
transition:background-size 0.15s ease-in;
}
k::after,k::before{
position:absolute;
width:100%;
border-radius:20px;
}
k::after,#s,k::before{
height:100%;
}
[c]::after,[c]::before{
content:"";
}
k{
cursor:pointer;
}
input{/*поле для ввода пароля*/
width:fit-content;
padding:0 16px;
text-align:center;
}
t,input{
outline:none;
height:48px;
margin:8px 0;
border-radius:4px;
caret-color:var(--p);
border:1px solid rgba(var(--B),.38);
transition:border-color .4s;
}
[t]:hover{/*общий идентификатор для текстовых полей*/
border-color:rgba(var(--B),.87);
}
[t]:focus{
border:2px solid var(--p);
}
t{/*текстовое поле*/
width:fit-content;
padding:14px 16px;
line-height:1.4rem;
word-spacing:5px;
}
t:focus{
padding:13px 15px;
}
t:empty::after{
content:attr(i);
color:rgba(var(--B),.5);
z-index:-1;
}
#r{/*при ошибочном пароле раскрашивает кромку поля ввода пароля в красный цвет*/
border-color:var(--r);
}
input,k{/*приподнимает текст в поле,(выравнивает по середине)*/
padding-bottom:1px;
}
#link{/*применяется на body при выводе кнопки с ссылкой*/
padding-top:100px;
}
